:root {
    --first-color: #293462;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

.bg-red {
    background: #D61C4E;
}

.bg-blue {
    background: #293462;
}

.bg-orange {
    background: #FEB139;
}

.bg-yellow {
    background: #FFF80A;
}


.radio-toolbar {
    margin: 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-flex;
    background-color: #293462;
    color: white;
    padding: 10px 20px;
    margin: 3px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}

.radio-toolbar label:hover {
        color: black;

    background-color: #fffcac;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px solid #fff930;
}

.radio-toolbar input[type="radio"]:checked + label {
    color: black;
    background-color: #fffcac;
    border-color: #FFF80A;
}