{% extends "base.html" %}
{% block title %}My page{% endblock %}
{% block title_description %}Improve your Korean language Skills{% endblock %}
{% block content %}
<h3>Welcome {{ name[0][0] }} {{ name[0][1] }}</h3>
<p>Nickname: {{ name[0][2] }}</p>
<table class="table table-warning table-striped  table-hover w-auto small" id="question_table">
    <thead>
    <tr>
        <th scope="col" colspan="6">RESULTS QUIZZES</th>
    </tr>

    <tr>
        <th class="text-uppercase" scope="col">Course</th>
        <th class="text-uppercase" scope="col">Quiz name</th>
        <th class="text-uppercase" scope="col">Score</th>
        <th class="text-uppercase" scope="col">Total Score</th>
        <th class="text-uppercase" scope="col">Date</th>
        <th class="text-uppercase" scope="col"></th>

    </tr>
    </thead>
    <tbody>
    {% for query in grades_data %}
    <tr>
        {% for element in query[1:] %}
        <th>{{ element }}</th>
        {% endfor %}
        <th>
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#review_{{ query[0] }}">
                Review
            </button>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% for query in grades_data %}
<div class="modal fade" id="review_{{ query[0] }}" tabindex="-1" aria-labelledby="modalLabel{{ query[0] }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ query[0] }}">Review Quiz: {{ query[2] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Result: {{ query[3] }} / {{ query[4] }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}