{% extends "base.html" %}
{% block head %}
    <link href="static/quiz.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Quiz{% endblock %}
{% block title_description %}Go for it{% endblock %}
{% block content %}

    <form method="post" action="/quiz{{ quiz_id }}">
        <div class="col-12"><p class="fw-bold mt-5">Short answer question</p>
            <div class="form-check">
                <div class="row">
                    <div class="col-md-6">
                        <input type="radio" name="boxx" id="five">
                        <label for="five" class="box fifth w-100">
                            <div class="course"><span class="circle"></span>
                                <span class="subject">is</span></div>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="boxx" id="six">
                        <label for="six" class="box sixth w-100">
                            <div class="course"><span class="circle"></span> <span class="subject"> was </span></div>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="boxx" id="seven">
                        <label for="seven" class="box seveth w-100">
                            <div class="course"><span class="circle"></span> <span class="subject"> will </span></div>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="boxx" id="eight">
                        <label for="eight" class="box eighth w-100">
                            <div class="course"><span class="circle"></span> <span
                                    class="subject"> None of the above </span></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-quiz btn-lg"> continue</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block tail %}
    <script src="static/quiz.js"></script>

{% endblock %}