{% extends "base.html" %}
{% block head %}
<link href="static/quiz.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Quiz{% endblock %}
{% block title_description %}Go for it{% endblock %}
{% block content %}

<form method="post" action="/quiz{{ quiz_id }}">
    {% for key in quiz_questions %}
    <div class="col-12">
        {% if some_var|length > 50 %}
        <h6 class="fw-bold mt-5">{{ key | safe }}</h6>
        {% else %}
        <h4 class="fw-bold mt-5">{{ key | safe }}</h4>
        {% endif %}
        <div class="radio-toolbar">
            <div class="row">
                {% set outer_loop = loop.index %}
                {% for possible_answer in quiz_questions[key]['possible_answers'] %}
                <div class="col-md-6">
                    <input type="radio" name="{{ key }}" id="id_{{ outer_loop }}_{{ loop.index }}" value="{{ possible_answer }}">
                    <label for="id_{{ outer_loop }}_{{ loop.index }}">{{ possible_answer }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="col-12">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-quiz btn-lg"> SUBMIT</button>
        </div>
    </div>
</form>
{% endblock %}
{% block tail %}
<script src="static/quiz.js"></script>

{% endblock %}