{% extends "base.html" %}
{% block title %}Result{% endblock %}
{% block title_description %}Improve your Korean language Skills{% endblock %}
{% block content %}
<h3>Grade: {{ result [0][4] }} / {{ result [0][5] }}</h3>
<table class="table table-warning table-striped  table-hover w-auto small" id="question_table">
    <thead>
    <tr>
        <th scope="col" colspan="4">REVIEW</th>
    </tr>

    <tr>
        <th class="text-uppercase" scope="col">Question</th>
        <th class="text-uppercase" scope="col">Given answer</th>
        <th class="text-uppercase" scope="col">Correct answer</th>
        <th class="text-uppercase" scope="col">Score</th>

    </tr>
    </thead>
    <tbody>
    {% for review in result [1] %}
    <tr>
        {% for element in review [3:] %}
        <th>{{ element }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight"><a href="/quizmenu" class="link-primary">Finish review</a></div>
</div>

{% endblock %}